extends layout

block content


  //- ul
  //-   each message in messages
  //-     li
  //-       p #{message.text}
  //-       p #{message.user}
  //-       p #{message.added}

  a(class='new-msg-a' href='/new') post a new message
    //- button(class='new-msg-btn') post a new message

  each message in messages
    div(class='message-card')
      div(class='mesage-text') #{message.text}
      hr
      div(class='mesage-user-and-date')
        span(class='message-user') #{message.user}
        span(class='message-added') #{message.added}