extends layout

block content


  //- ul
  //-   each message in messages
  //-     li
  //-       p #{message.text}
  //-       p #{message.user}
  //-       p #{message.added}

  a(class='new-msg-a' href='/new')
    button(class='new-msg-btn') post a new message

  each message in messages
    div(class='message-card')
      div(class='mesage-text') #{message.text}
      div(class='mesage-user-and-date')
        span #{message.user}
        span #{message.added}